<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.codehaus.mojo.archetypes"/>
        <listEntry value="archetypeArtifactId=webapp-j2ee13"/>
        <listEntry value="archetypeVersion=1.2"/>
        <listEntry value="groupId=com.krakedev"/>
        <listEntry value="artifactId=inventarioss"/>
        <listEntry value="version=1.0.0"/>
        <listEntry value="package=com.krakedev.inventarioss"/>
        <listEntry value="outputDirectory=C:\Users\Personal\modulo3\WorkspaceModulo3"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Personal\AppData\Local\Temp\m2e-archetypeGenerator14248495266863072634"/>
</launchConfiguration>
